html, body{
  font-family: 'Work Sans', sans-serif;
}

.navbar {
  background-color: #FFF271;
}

.hero .title{
  font-family: 'alpha_echoregular';
}

.hero.is-dark {
  background-color: black;
}

.hero.is-dark .subtitle{
  color: #67de97
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

@font-face {
  font-family: 'alpha_echoregular';
  src: url('alpha_echo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}