:root {
  --c-primary: #005876;
  --c-secondary: #00fbaf;
  --c-grey-light: #e7e7e7;
  --c-black: #212121;
  --c-white: #fff;
}

html, body{
  margin:0;
  padding:0;
  font-size: 18px;
}

body {
  background-color: var(--c-grey-light);
}
.columns {
  margin-left: 0;
  margin-right: 0;
}

.button.is-primary {
  transition: all 0.3s;
}

.button.is-primary:hover {
  transition: all 0.3s;
}

.button {
  transition: all 0.3s;
}

.button:hover {
  transition: all 0.3s;
}

.title-head {
  padding: 35px 0 35px 0;
}

.is-breaking{
  letter-spacing: 3px;
  padding: 3px;
}

.action{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 5px 25px 25px 5px;
  padding: 10px;
  font-size: 0.75rem;
  min-height: 405px;
}

.action.highlight{
  transition: all 0.2s;
}

.action.highlight:hover {
  transition: all 0.1s;
}

.related-action-container{
  padding-left: 0px;

}

.action p,
.action .button {
  font-size: 1rem;
}

.action .buttons{
  align-self: center;
  margin-top: auto;
}

.action-meta{
  font-size: 0.85rem;
  font-weight: bold;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

@media screen and (min-width: 769px) and (max-width: 1206px) {

}


@media screen and (max-width: 768px) {

}
